<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <!-- <div class="intro-lead-in">どうも！</div> -->
      <div class="intro-heading text-uppercase">楽シェア</div>
    </div>
  </div>
</header>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">使いかた</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x text-primary"></i>
          <i class="fa fa-archive fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">出品</h4>
        <p class="text-muted">アカウント登録・ログイン後にシェアしたい楽器・アクセサリーを出品しよう！</p>
      </div>
    <div class="col-md-4">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x text-primary"></i>
        <i class="fa fa-share-alt fa-stack-1x fa-inverse"></i>
      </span>
      <h4 class="service-heading">シェア</h4>
      <p class="text-muted">出品一覧画面から、シェアしたい品を選び詳細ページでシェアしよう！</p>
    </div>
    <div class="col-md-4">
      <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x text-primary"></i>
        <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
      </span>
      <h4 class="service-heading">お問い合わせ</h4>
      <p class="text-muted">シェアしてる(する) 相手と連絡を取ろう！</p>
    </div>
  </div>
</section>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">アプリの説明</h2>
        <h3 class="section-subheading text-muted">楽器を楽にシェアできるアプリです</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
