.confirm {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
}

.confirm img {
  width: 500px;
}

.confirm_text {
  text-align: center;
}

@media (min-width:524px) {
  .field_image input {
      border-radius: 0;
      background: -moz-linear-gradient(top, #FFF 0%, #EEE);
      background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
      border: 1px solid #DDD;
      color: #111;
      padding: 10px 30px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      padding-left: 20px;
      padding-right: 10px;
      width: 100%;
  }

  .field_image input:hover {
      background: -moz-linear-gradient(top, #EFEFEF 0%, #EEE);
      background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#EEE));
  }

  .edit_back {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-right: 20px;
  }
}
