.contact_name {
  font-size: 40px;
  padding-top: 10px;
  margin-top: 40px;
}

@media (max-width:465px) {
  .contact_name {
    font-size: 30px;
    font-weight: 700;
    padding-top: 10px;
  }
}

@media (min-width:465px) {
  .contact_name {
    font-size: 40px;
    font-weight: 700;
    padding-top: 10px;
  }
}

.title_field {
  padding-right: 30px;
}

.contact_actions {
  margin-right: 20px;
}
