/* 大枠デザイン */
.container {
  flex-flow: row;
}

.index {
  list-style: none;
  padding-left: 10px;
  width: 100%;
}

.index li {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 項目デザイン */
.index_box {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  background: #fff7cc ;
  box-shadow: 0px 0px 0px 10px #fff7cc ;
  border: dashed 2px #7294b2;
}

.index_box p {
   margin: 0;
   padding: 0;
}

@media (min-width:990px) {
  .index_image img {
    width: 100%;
  }

  .flex_container {
    display: flex;
  }

  .index_show {
    font-size: 20px;
    padding-top: 60px;
  }

  .item_name {
    padding-top: 0px;
    font-size: 30px;
  }

  .item_name_tag {
    font-size: 30px;
    padding-top: 20px;
  }
}

@media (min-width:992px) and (max-width:1200px) {
  .index_image img {
    width: 100%;
  }

  .flex_container {
    display: flex;
  }

  .index_show {
    font-size: 15px;
  }

  .item_name {
    padding-top: 0px;
    font-size: 30px;
  }

  .item_name_tag {
    font-size: 30px;
    padding-top: 20px;
  }
}

@media (min-width:759px) and (max-width:991px) {
  .index_image img {
    width: 100%;
  }

  .flex_container {
    display: flex;
  }

  .index_show {
    font-size: 20px;
    padding-top: 50px;
  }

  .item_name {
    padding-top: 0px;
    font-size: 30px;
  }

  .item_name_tag {
    font-size: 30px;
    padding-top: 30px;
  }
}

@media (min-width:601px) and (max-width:758px) {
  .index_image img {
    width: 100%;
  }

  .flex_container {
    display: flex;
  }

  .index_show {
    font-size: 30px;
    padding-top: 0px;
  }

  .item_name {
    padding-top: 0px;
    font-size: 40px;
    padding-bottom: 35px;
  }

  .item_name_tag {
    font-size: 40px;
  }
}

@media (max-width:600px) {
  .index_image img {
    width: 100%;
  }

  .index_show {
    font-size: 20px;
  }

  .item_name {
    padding-top: 0px;
    font-size: 30px;
    padding-bottom: 40px;
  }

  .item_name_tag {
    font-size: 30px;
    padding-top: 10px;
  }
}
