@media (min-width:992px) {
  .mypage_title {
    font-size: 50px;
  }

  .mypage_list {
    font-size: 30px;
  }

  .mypage_img img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }

  .mypage_1 {
    padding: 0.2em 0.5em;
    margin: 2em 0;
    background: #fff7cc ;
    box-shadow: 0px 0px 0px 10px #fff7cc ;
    border: dashed 2px #7294b2;
  }

  .mypage_1 li {
    width: 100%;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .mypage_name {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .mypage_share {
    padding-top: 5px;
  }

  .mypage_link {
    padding-top: 30px;
  }

  .mypage_share_non {
    padding-top: 80px;
  }

  .show_ul {
    width: 100%;
  }
}

@media (min-width:715px) and (max-width:991px) {
  .mypage_title {
    font-size: 50px;
  }

  .mypage_list {
    font-size: 30px;
  }

  .mypage_img img{
    width: 500px;
    height: 500px;
    object-fit: cover;
  }

  .show_ul {
    width: 100%;
  }

  .mypage_1 {
    padding: 0.2em 0.5em;
    margin: 2em 0;
    background: #fff7cc ;
    box-shadow: 0px 0px 0px 10px #fff7cc ;
    border: dashed 2px #7294b2;
  }

  .mypage_1 li {
    width: 100%;
    font-size: 23px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .mypage_name {
    padding-top: 50px;
    padding-bottom: 10px;
  }

  .mypage_share {
    padding-top: 5px;
  }

  .mypage_share1 {
    padding-top: 50px;
  }

  .mypage_link {
    padding-top: 95px;
  }

  .mypage_share_non {
    padding-top: 125px;
  }

  .mypage_share_non1{
    padding-top: 30px;
    padding-bottom: 20px;
  }
}


@media (min-width:600px) and (max-width:714px) {
  .mypage_title {
    font-size: 45px;
  }

  .mypage_list {
    font-size: 25px;
  }

  .mypage_img img{
    width: 400px;
    height: 400px;
    object-fit: cover;
  }

  .show_ul {
    width: 100%;
  }

  .mypage_1 {
    padding: 0.2em 0.5em;
    margin: 2em 0;
    background: #fff7cc ;
    box-shadow: 0px 0px 0px 10px #fff7cc ;
    border: dashed 2px #7294b2;
  }

  .mypage_1 li {
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .mypage_name {
    padding-top: 50px;
    padding-bottom: 10px;
  }

  .mypage_share {
    padding-top: 5px;
  }

  .mypage_share1 {
    padding-top: 50px;
  }

  .mypage_link {
    padding-top: 60px;
  }

  .mypage_share_non {
    padding-top: 125px;
  }

  .mypage_share_non1{
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .mypage_contact {
    padding-top: 20px;
  }
}

@media (max-width:599px) {
  .mypage_img img{
    width: 100%;
  }

  .show_ul {
    width: 100%;
  }

  .mypage_1 {
    padding: 0.2em 0.5em;
    margin: 2em 0;
    background: #fff7cc ;
    box-shadow: 0px 0px 0px 10px #fff7cc ;
    border: dashed 2px #7294b2;
  }

  .mypage_1 li {
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .mypage_name {
    padding-top: 10px;
  }

  .mypage_share1 {
    padding-top: 30px;
  }

  .mypage_link {
    padding-top: 30px;
  }

  .mypage_share_non {
    padding-top: 10px;
  }

  .mypage_share_non1 {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .mypage_destroy {
    padding: 10px;
  }

  .mypage_contact {
    padding-top: 10px;
  }
}
