
@media (max-width:524px) {
  .new_field img{
    width: 400px;
    height: 400px;
    object-fit: cover;
  }

  .field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .new_field {
    font-size: 20px;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .new_back {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
  }

  .errors_message {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type="text"],
  textarea {
      padding: 0.8em;
      outline: none;
      border: 1px solid #DDD;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      font-size: 16px;
  }

  input[type="text"]:focus,
  texture:focus {
      box-shadow: 0 0 7px #3498db;
      border: 1px solid #3498db;
  }

  input[type="text"] {
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
      width: 200px;
  }

  input[type="text"]:focus {
      width: 300px;
  }

  textarea[id="musical_instrument_content"] {
      padding: 0.8em;
      outline: none;
      border: 1px solid #DDD;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      font-size: 16px;
  }

  textarea[id="musical_instrument_content"]:focus,
  texture:focus {
      box-shadow: 0 0 7px #3498db;
      border: 1px solid #3498db;
  }

  textarea[id="musical_instrument_content"] {
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
      width: 200px;
  }

  textarea[id="musical_instrument_content"]:focus {
      width: 300px;
  }

  .actions input {
      border-radius: 0;
      background: -moz-linear-gradient(top, #FFF 0%, #EEE);
      background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
      border: 1px solid #DDD;
      color: #111;
      padding: 10px 30px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
  }

  .actions input:hover {
      background: -moz-linear-gradient(top, #EFEFEF 0%, #EEE);
      background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#EEE));
  }

  .field_image input {
      border-radius: 0;
      background: -moz-linear-gradient(top, #FFF 0%, #EEE);
      background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
      border: 1px solid #DDD;
      color: #111;
      padding: 10px 30px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
  }

  .field_image input:hover {
      background: -moz-linear-gradient(top, #EFEFEF 0%, #EEE);
      background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#EEE));
  }

  .field {
    padding-bottom: 20px;
  }

  .new_title {
    margin-bottom: 20px;
    margin-top: 50px;
    font-size: 30px;
  }
}

@media (min-width:524px) {
  .new_field img{
    width: 400px;
    height: 400px;
    object-fit: cover;
  }

  label {
    font-size: 25px
  }

  .field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .new_back {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
  }

  .errors_message {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type="text"],
  textarea {
      padding: 0.8em;
      outline: none;
      border: 1px solid #DDD;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      font-size: 16px;
  }

  input[type="text"]:focus,
  texture:focus {
      box-shadow: 0 0 7px #3498db;
      border: 1px solid #3498db;
  }

  input[type="text"] {
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
      width: 300px;
  }

  input[type="text"]:focus {
      width: 400px;
  }

  textarea[id="musical_instrument_content"] {
      padding: 0.8em;
      outline: none;
      border: 1px solid #DDD;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      font-size: 16px;
  }

  textarea[id="musical_instrument_content"]:focus,
  texture:focus {
      box-shadow: 0 0 7px #3498db;
      border: 1px solid #3498db;
  }

  textarea[id="musical_instrument_content"] {
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
      width: 300px;
  }

  textarea[id="musical_instrument_content"]:focus {
      width: 400px;
  }

  .actions input {
      border-radius: 0;
      background: -moz-linear-gradient(top, #FFF 0%, #EEE);
      background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
      border: 1px solid #DDD;
      color: #111;
      padding: 10px 30px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
  }

  .actions input:hover {
      background: -moz-linear-gradient(top, #EFEFEF 0%, #EEE);
      background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#EEE));
  }

  .field_image input {
      border-radius: 0;
      background: -moz-linear-gradient(top, #FFF 0%, #EEE);
      background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
      border: 1px solid #DDD;
      color: #111;
      padding: 10px 30px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      padding-left: 20px;
      padding-right: 10px;
  }

  .field_image input:hover {
      background: -moz-linear-gradient(top, #EFEFEF 0%, #EEE);
      background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#EEE));
  }

  .field {
    padding-bottom: 20px;
  }

  .new_title {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 50px;
  }
}
