.registration_title {
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (min-width:500px) {
  .registration_title {
    font-size: 40px;
  }

  .registration_field {
    font-size: 25px;
  }

  .registration_under {
    padding-left: 30px;
    padding-top: 10px;
  }

  .registration_under {
    padding-top: 20px;
  }
}

@media (max-width:500px) {
  .registration_field {
    font-size: 20px;
  }

  .registration_field_1 {
  margin-left: 10px;
  }

  .registration_under {
    padding-top: 20px;
    padding-left: 20px;
  }
}
