.session_title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.session_under {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  adding-top: 20px;
  padding-right: 50px;
}

@media (min-width:500px) {
  .session_title {
    font-size: 40px;
  }

  input[type="email"],
  textarea {
      padding: 0.8em;
      outline: none;
      border: 1px solid #DDD;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      font-size: 16px;
  }
  textarea {
      width: 300px;
  }

  input[type="password"],
  textarea {
      padding: 0.8em;
      outline: none;
      border: 1px solid #DDD;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      font-size: 16px;
  }
  textarea {
      width: 300px;
  }

  input[type="email"]:focus,
  texture:focus {
      box-shadow: 0 0 7px #3498db;
      border: 1px solid #3498db;
  }

  input[type="password"]:focus,
  texture:focus {
      box-shadow: 0 0 7px #3498db;
      border: 1px solid #3498db;
  }

  input[type="email"] {
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
      width: 300px;
  }

  input[type="email"]:focus {
      width: 400px;
  }

  input[type="password"] {
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
      width: 300px;
  }
  input[type="password"]:focus {
      width: 400px;
  }
}

.session_field {
  font-size: 25px;
}

@media (max-width:500px) {
  .registration_field {
    font-size: 20px;
  }

  input[type="email"],
  textarea {
      padding: 0.8em;
      outline: none;
      border: 1px solid #DDD;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      font-size: 16px;
  }
  textarea {
      width: 300px;
  }

  input[type="password"],
  textarea {
      padding: 0.8em;
      outline: none;
      border: 1px solid #DDD;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      font-size: 16px;
  }
  textarea {
      width: 300px;
  }

  input[type="email"]:focus,
  texture:focus {
      box-shadow: 0 0 7px #3498db;
      border: 1px solid #3498db;
  }

  input[type="password"]:focus,
  texture:focus {
      box-shadow: 0 0 7px #3498db;
      border: 1px solid #3498db;
  }

  input[type="email"] {
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
      width: 200px;
  }

  input[type="email"]:focus {
      width: 300px;
  }


  input[type="password"] {
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
      width: 200px;
  }
  input[type="password"]:focus {
      width: 300px;
  }

  .session_field {
    font-size: 20px;
  }
}

@media (max-width:768px) {
  li {
    padding-top: 15px;
  }
}
